<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-5"><h1><img src="http://images.clipartpanda.com/door-clipart-pull-open-door-clipart-1.jpg">OpenDoors</h1><p>A property management platform for the modern age</p></div>
      <% if current_user != nil %>
        <div class = "col-md-4"></div>
        <div class = "col-md-2"><span id="greeting">logged in as <span class="greeting-email"><%= current_user.email %></span></span></div>
        <div class = "col-md-1">
          <div class="dropdown">
            <a id="user-menu" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
              <li><a href="/users/<%=current_user.id%>">My account</a></li>
              <li><%= link_to "Log out", logout_path %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="col-md-5"></div>
          <div class="col-md-2" id="login-signup-menu">
            <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>