<div class="container">   
  <div class="row">
    <div class="col-md-12">
      <div class="container dashboard-panel" id="door-list">
	<h2>All Properties</h2>
	<table class = "table-bordered">
	<tr>
		<th class='deck-table-cell'><a href="/doors/new">Add New</a></th>
		<th class='deck-table-cell'>ID</th>
		<th class='deck-table-cell'>Address</th>
		<th class='deck-table-cell'>City</th>
		<th class='deck-table-cell'>State</th>
		<th class='deck-table-cell'>Zipcode</th>
		<th class='deck-table-cell'>View</th>
	</tr>
	<% @doors.each do |door| %>
		<tr id="table-row-<%= door.id %>">
			<td class='deck-table-cell edit-link' id="<%= door.id %>"><a href="/doors/<%=door.id%>/edit">Edit / Delete</a></td>
			<td class='deck-table-cell col-0'><%= door.id %></td>
			<td class='deck-table-cell col-1'><%= door.street_number %> <%=door.street %></td>
			<td class='deck-table-cell col-2'><%= door.city %></td>
			<td class='deck-table-cell col-3'><%= door.state %></td>
			<td class='deck-table-cell col-4'><%= door.zipcode %></td>
			<td class='deck-table-cell col-5'><a href='#'>Map</a></td>
		</tr>
	<% end %>
	</table>
</div>


